<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<bean id="myDataSource" class="com.mysql.jdbc.jdbc2.optional.MysqlDataSource" >
		<property name="databaseName" value="mojabaza"/>
		<property name="serverName" value="localhost"/>
		<property name="user" value="tutorial"/>
		<property name="password" value="password"/>
	</bean>
	
	<bean class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="myDataSource"/>
	</bean>

</beans>
