<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<bean id="someBean" class="pl.java.SomeBean" />
	<bean id="LoggingAspect" class="pl.java.LoggingAspect" />
	<aop:config>
		<aop:pointcut expression="@annotation(pl.java.BuisnessMethod)" id="buisnessMethod"/>
		<aop:pointcut expression="@target(pl.java.BuisnessClass)" id="buisnessClass"/>
		<aop:aspect ref="LoggingAspect">
			<aop:before method="logExecution" pointcut-ref="buisnessMethod" />
		</aop:aspect>
	</aop:config>
</beans>
